*{
  font-size: 10px;
  margin: 0 auto;
  padding: 0;
}

.contents_menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  border: 2px grey solid;
  border-radius: 25px;
  max-width: 50%;
}

.contents_item {
 font-size: 3rem;
 text-decoration: none;
 line-height: 5rem;
}

.title {
  font-size: 6rem;
  text-align: center;
  background-color: beige;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-right: black 3px solid;
  border-bottom: black 3px solid;
  border-left: black 3px solid;
}

.container {
  width: 80vw;
  height: 100%;
  justify-content: center;

}

.bottom_text {
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
}


